# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Log files
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Temporary files
*.tmp

# Generated sample data
sample_data/raw/

aws/
awscliv2.zip